@import './../../variables';

#dot{
    display: inline-block;   
    width:9px;
    height:9px;
    background:-webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%);
    border-radius:50%;
    margin-left:5px;
}