@import './../../variables';

.dashboardMainPage {
  padding: 3em;
  display: flex;
  flex-direction: column;
  background-color: #F7F8FA;

  .dashContainer {
    // border: 2px solid red;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 25px 0px;
    box-sizing: border-box;
  }
  
  .courseListContainer {
    // border: 2px solid red;
    width: 100%;
    box-sizing: border-box;
  }
}
