@import './../../variables';

.listContainer {
  // border: 2px solid blue;
  height: 400px;
  width: 400px;
  background-color: white;
  border-radius: 25px;
  margin: 0;
  overflow: auto;
  box-shadow: 2px 5px 24px rgb(200, 200, 200);
  // padding: 30px;
  text-align: center;
  box-sizing: border-box;

  p {
    margin: 20px 0;
  }
}
