@import './../../variables';

button{
    @include buttonReset;        
}

.primary-button{
    @include buttonReset;
    text-align:center;
    font-size: 18px;
    margin-top:4vh;
    background-color:$accent1;
    height: 7vh;
    width: auto;
    max-width:20vw;
    padding:0 1.5vw;
    color:$accent2;
    font-weight: 600;    
    transition: background-color 0.2s linear
}
button:hover{
    background-color: $accent3;    
}