@import './../../variables';

button{
    @include buttonReset;        
}

.primary-button{
    @include buttonReset;
    text-align:center;
    font-size: 18px;
    margin-top:4vh;
    background-color:$accent7;
    font-weight:bold;
    height: auto;
    width: auto;
    max-width:20vw;
    padding:1.5vh 1.5vw;
    color:$accent2;
    transition: background-color 0.2s linear
}
.primary-button:hover{
    background-color: $accent3;    
}