@import './../../variables';

#Home {
    width: 100%;
    height: 95vh;
    color: $accent3;
    display: flex;
    justify-content: space-between;
    .login-container {
        width: 40vw;
        height: 60vh;
        margin: 5vw 5vw;
        background-color: $accent4;

        .login-content{
            margin: 10%;

            .login-title{
                font-size: 28px;
            }

            .login-input{
                width: 100%;
                height: 22px;
                border: none;
            }
        }
    }

    .register-buttons {
        width: 40vw;
        height: 40vh;
        margin: 5vw 5vw;

        .register-button-container{
            height: 100%;
            display: flex;
            flex-direction: column;
        }
    }
}