
#Home {
    width: 100%;
    height: 95vh;
    color: black;
    display: flex;
    justify-content: space-between;

    .login-container {
        width: 40vw;
        height: 40vh;
        margin: 5vw 5vw;
        background-color: rgb(235, 235, 235);

        .login-content{
            margin: 10%;

            .login-title{
                font-size: 28px;
            }

            .login-input{
                width: 100%;
                height: 22px;
                border: none;
            }
        }
    }

    .register-buttons {
        width: 40vw;
        height: 40vh;
        margin: 5vw 5vw;

        .register-button-container{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .reg-button{
                height: 15vh;
                border-radius: 75px;
                background-color: rgb(235, 235, 235);
                border: none;
                font-size: 28px;
            }
            .reg-button:hover{
                outline: none;
                text-decoration: none;
            }
        }
    }
}