.MainInfoContainer {
  // border: 2px solid blue;
  height: 50%;
  box-sizing:border-box;
  background-color: white;
  border-radius: 25px;
  box-shadow: 2px 5px 24px rgb(200, 200, 200);

  .toggleButtons {
    height: 10%;
    box-sizing:border-box;
    background-color: white;
    border-radius: 25px;
  }
}
