.browse_class_container {
    height: calc(100vh - 80px);
    display: grid;
    grid-template-columns: 12px 300px 12px 1fr 12px;
    grid-template-rows: 12px 80px 12px 1fr 12px;
}

.side_bar {
    background-color: aqua;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
}

.class_list {
    background-color: skyblue;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 5;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.browse_categories {
    background-color: coral;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.courses_in_browse {
    border: solid 1px blue;
    width: 30%;
    height: 180px;
}

.calendar_height {
    height: 300px;
    width: 100%;
}