.teacherStream {
  width: 100%;
  height: 58vh;

  .not-streaming{
    padding:50px 30px;
    display:flex;
    flex-direction: column;

    .choose-source{
      display:flex;
      justify-content: space-between;
      width: 60%;
      margin-bottom:30px;
      #not-streaming-header{
        font-weight: bold;
        font-size:20px;
      }
    }

    .scheduled-lectures{
      display:flex;
      justify-content: flex-start;
      width: 90%;
      margin-bottom:30px;
      #not-streaming-header{
        font-weight: bold;
        font-size:20px;
        margin-right:20px;
      }
      .mapper{
        font-size:18px;
        font-weight: bold;
      }
    }

  }
  
  
  .subscriber{
      position: absolute;
      top:15px;
      left:15px;
      width: 20%;
      height:20%;
  }
  .OT-Publisher {
    position: relative;
    .teacher-stream-buttons {
      display: flex;
      justify-content: space-between;
      margin: 0px;
      .end-lecture-button {
        align-items: center;
      }
      .screen-cam-toggle {
        margin-top: 30px;
      }
    }
  }
}




