@import './../../variables';

.topnav{
    height: 80px;
    width: 100%;
    background-color: $accent1;
    color: $accent2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $primaryfontfam;
    
    .searchbar-container{
        padding: 0px 30px;
        width: 33vw;
        
        .searchbar, .searchbar:focus, .searchbar:active {
            height: 28px;
            width: 350px;
            border-radius: 5px;
            border: none;
            outline: none;
            text-decoration: none;
            box-sizing: border-box;
            padding: 15px;
        }
    
    }

    .logo{
        padding: 0px 30px;
        font-size: 28px;
        height:80%;
        display:flex;
        align-items: center;
        justify-content: center;
        width: 33vw;

        img{
            height:80%;
        }
    }

    .links-container{
        display: flex;
        justify-content: flex-end;
        font-size: 18px;
        padding: 0px 30px;
        width: 33vw;
        text-decoration: none;
        color: white;
        font-weight: bold;

        a, a:visited{
            text-decoration: none;
            color: white;
        }

        .nav-button {
            padding: 0px 30px;
        }

        .nav-button:hover{
            transition: color 0.2s linear;
            color: $accent6;
        }
    }
}