@import './../../variables';

.topnav{
    height: 60px;
    width: 100%;
    color: $accent2;
    border-bottom: 0.1px solid rgb(59, 156, 191);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $primaryfontfam;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s background linear;
    
    .searchbar-container{
        padding: 0px 30px;
        width: 33vw;
        @media screen and (max-width: 414px){
            display: none;
        }

        .searchbar::placeholder{
            color: white;
            font-size: 18px;
        }
        
        .searchbar, .searchbar:focus, .searchbar:active {
            height: 40px;
            width: 200px;
            background-color: rgba(255, 255, 255, 0.25);
            border-radius: 4px;
            border: none;
            outline: none;
            text-decoration: none;
            box-sizing: border-box;
            padding: 15px;
            color: white;
            font-family: $primaryfontfam;
        }        
    }

    .logo{
        height:80%;
        display:flex;
        align-items: center;
        justify-content: center;
        width: 33vw;
        letter-spacing: 2px;
        font-size: 20px;
        text-decoration: none;

        @media screen and (max-width: 414px){
            padding: 0px;
            margin: 10px;
            justify-content: flex-start;
            font-size: 16px;
        }

        img{
            height: 60%;
        }

        .logo-title{
            letter-spacing: 3px;
        }
        a, a:visited{
            text-decoration: none;
            color: white;
        }
    }

    .links-container{
        display: flex;
        justify-content: flex-end;
        padding: 0px 30px;
        width: 33vw;
        text-decoration: none;
        color: white;
        font-weight: bold;

        @media screen and (max-width: 414px){
            padding: 0px;
            margin: 10px;
            font-size: 14px;
        }

        a, a:visited{
            text-decoration: none;
            color: white;
        }

        .nav-button {
            padding: 0px 30px;

            @media screen and (max-width: 414px){
                padding: 10px;
                font-size: 14px;
            }
        }

        .nav-button:hover{
            transition: color 0.2s linear;
            color: #026EE2;
        }
    }
}

.topnav:hover{
    background: white;
    color: #026EE2;
    transition: background-color 0.1s linear;

    .logo-title{
        color:  rgb(0, 54, 111);
    }
    
    .nav-button{
        color: #026EE2;
    }
    .nav-button:hover{
        transition: color 0.2s linear;
        color: rgb(0, 68, 140);
    }

    .searchbar, .searchbar:focus, .searchbar:active{
        background-color: rgba(128, 128, 128, 0.25);
    }

    .searchbar::placeholder{
        color: grey;
    }
}

.navbackground{
    background-color: #0A2A66;
}

.searchOptions-container{
    display:none;
}