@mixin buttonReset{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
    font: inherit;
	cursor: pointer;
    outline: inherit;
    text-align: center;
}

@mixin defaultInputBox{
    input{
        border: 1.2px solid rgba(0,0,0,0.4);
        padding: 1vh 1vw;
        font-size:20px;
        color:black;
        font-weight:100;
        transition: border 0.1s linear;
        border-radius:0.3vh;
    }
    input:focus{
        outline:none;
        border: 1.2px solid $accent6;
    }
}

@import url('https://fonts.googleapis.com/css?family=Lato');

$primaryfontfam: 'Lato', sans-serif;

$accent1:#00284A;
$accent2:white;
$accent3:#00284A;
$accent4:rgb(235,235,235);
$accent5:#9cb443;
$accent6:#71b307;
$accent7:#5b8714;

$primarygreen: #14BF96;
$bluetext: rgb(0, 54, 111);
$shadow: rgb(201, 201, 201);
$mainbackground: rgb(235, 235, 235);
