.mapped_streams_container {
    position: relative;
    height: 100%;
    width: 100%;
}

.teacher_stream_container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.student_stream_container {
    position: absolute;
    top: 15px;
    left: 15px;
    height: 15%;
    width: 15%;
    z-index: 9;
}